<div class="ml-5 mr-5">
  <h2 class="title is-1">Новый курс</h2>
  <div>
    <%= render 'form' %>
  </div>
  <div class="mt-2">
   <%= button_to 'Вернуться', courses_path, method: :get, class: "button is-link" %>
  </div>
</div>